@media screen and (max-width: 1510px) {
    .sidebar {
        height: 92.2vh !important;
    }
    table tr th{
    font-size: 12px;
   }
}
@media screen and (max-width: 1024px) {
    .custom_dropdown {
        width: 240px !important;
    }
    .sidebar {
        height: 92vh !important;
    }
}

@media screen and (max-width: 860px) {
    .custom_dropdown {
        width: 284px !important;
    }
    .dropPart small{
        display: none !important;
    }
    table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
   
}

@media screen and (max-width: 640px) {
  .brandLogo:last-child{
    display: none;
  }
  .upperheader .row>* {
    width: inherit ;
  }
  .upperheader h6{
    font-size: 15px ;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 112px;
  }
  main{
    padding: 30px 15px !important;
  }
  .breadcrumb{
    margin-bottom: 16px !important;
  }
  .airport_list ul li h6 {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      padding-top: 10px;
  }
  .airport_list ul li{
    width: 100% !important;
  }
  .ueselect div.my-5{
    margin:0 !important;
  }
  .p-tabview-nav{
    padding-left: 0px !important;
  }
  .p-tabview-nav-link span small{
    display: none !important;
  }
  .p-tabview .p-tabview-panels{
    background: transparent !important;
    padding: 15px 0 0 0 !important;
  }
  label{
    font-size: 14px !important;
  }
  .add_business, .companyDetai, .p-tabview, .main-div{
    padding: 0 !important;
  }
  .side-div ul {
    gap: 5px;
    flex-wrap: wrap;
  }
  .side-div ul li a {
    font-size: 12px !important;
    padding: 7px 7px !important;
  }
  .documentPart .main-div {
    height: auto !important;
    overflow: inherit;
    overflow-y: auto;
    padding: 0 0;
    width: 100%;
  }
  .p-sidebar-close {
    left: auto !important;
    right: 0;
  }
  .p-accordion-content .table tr td, .p-accordion-content .table tr th{
    text-align: left !important;
  }
  .content-box h6{
    font-size: 14px !important;
  }
  .sigedit {
    right: -10px !important;
    top: -55px !important;
    color: #ffae5d !important;
  }
  .vertical-stepper-container{
    display: none !important;
  }
  .card-body{
    padding: 0 !important;
  }
  .vertical-stepper-content{
    margin: 0 !important;
  }
  .step-content-box{
    padding: 15px !important;
  }
}
